html{
    background: #018ded url(anime_nature_horizon_sky_silhouette_background_hd_anime.jpg);
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 10px;
}
body{
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}
.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    padding: 2rem;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 0 10px black,
    0 0 10px rgba(0, 0, 0, 0.2);
}
.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}
.hand{
    width: 50%;
    height: 6px;
    background: rgb(230, 172, 14);
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all .05s;
    transition-timing-function: cubic-bezier(0.1,2.7,0.58,1);
    box-shadow: 3px 3px 3px 3px gray;
}
.button{
    width: 10%;
    height: 10%;
    position: absolute;
    top: 40%;
    left: 46%;
    border-radius: 50%;
    background-color: white;
    box-shadow: 3px 3px 3px 3px gray;
}
.hour-hand{
    width: 30%;
    right: 50%;
}
.second-hand{
    background: rgb(235, 164, 10);
}
.digital-clock{
    font-size: 12rem;
    color: #EFEFEF;
    width: 400px;
}

.time{
    padding-right: 20px;
    text-shadow: 2px 2px 4px black;
}